@media screen and (max-width: 1024px) {
  .about-grid {
    /* background-image: url("https://online.stanford.edu/sites/default/files/styles/embedded_large/public/2020-06/Statistics-Graduate-Certificate_2.jpg?itok=w-FJqsGq"); */
    /* background-image: url("https://cdn.pixabay.com/photo/2020/02/15/14/33/network-4851119_1280.jpg"); */
    background-attachment: scroll;
    background-size: cover;
  }
  .about-grid {
    /* background: -webkit-linear-gradient(#033f63, #28666e); */
    --num-cols: 1;

    justify-content: center;
    text-align: center;
    /* margin-top: 10px; */
    border-radius: 0;
    padding-top: 0;
  }

  .about-us {
    /* background-color: #28666e; */
    border-radius: 0 0;
    /* margin-top: 1rem; */
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  .about-us h1 {
    font-size: min(4rem, 15vw);
    font-weight: 900;
  }
  .about-us-text {
    background-color: #08707f;
    color: #f7e7ce;
    text-align: center;
  }
  .about-us-text p {
    margin: min(5vw, 50px);
    font-size: min(5vw, 1.5rem);
  }
  .yipstats {
    /* background-image: url("https://online.stanford.edu/sites/default/files/styles/embedded_large/public/2020-06/Statistics-Graduate-Certificate_2.jpg?itok=w-FJqsGq"); */
    background-color: none;
    padding: 2rem;
    /* width: 90vw; */
  }
  .yipcard {
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    /* background-color: white; */
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 30px;
  }
  .yipnav {
    /* background-color: #f2f2f2; */
    border-color: none;
    border: hidden;
  }
  .tab-space {
    background-color: none;
  }
  .yipstats-heading {
    font-size: min(2rem, 8vw);
    font-weight: 800;
    padding: 1.2rem 0;
    /* color: #08707f; */
    color: cyan;
  }
  .h1-seo {
    text-decoration: none;
    color: #04333b;
    font-size: 0;
    font-size: 2.4rem;
    font-weight: 500;
    /* color: #04333b; */
    color: lavenderblush;
  }
  .count-title {
    text-decoration: none;
    font-size: 0;
    font-size: 1.1rem;
    padding-bottom: 5vw;
    color: #0cacc4;
  }
  .text-success {
    font-weight: 800;
  }
  .text-success p {
    background-color: lightblue;
    color: #08707f;
    margin: auto;
  }
  /* Add more buttons as yip-button4 and so on */
  #yip-button1,
  #yip-button2,
  #yip-button3 {
    border: hidden;
    background-color: lightblue;
    border-radius: 20px;
    margin: 1em;
  }
}
