body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
}
@media screen and (min-width: 1025px) {
  .about-grid {
    /* background-image: url("https://online.stanford.edu/sites/default/files/styles/embedded_large/public/2020-06/Statistics-Graduate-Certificate_2.jpg?itok=w-FJqsGq"); */
    /* background-image: url("https://cdn.pixabay.com/photo/2020/02/15/14/33/network-4851119_1280.jpg"); */
    /* background-image: url("https://i.pinimg.com/736x/d2/36/a1/d236a15059ae4bee49f123173e808bbd.jpg"); */
    background-attachment: fixed;
    background-size: cover;
  }
  .about-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-us {
    width: 100vw;
    text-align: center;
    height: 30vh;
    /* background-color: none; */
  }
  .about-us h1 {
    /* color: #e8da6d; */
    font-size: 7vw;
    padding-top: 5vh;
  }
  .about-us-text {
    background-color: #08707f;
    height: 20vh;
    width: 100vw;
    text-align: center;
    color: #f7e7ce;
    margin-top: -1vh;
    padding-top: 2vh;
    padding-left: 20vw;
    padding-right: 20vw;

    position: relative;
  }
  .about-us-text p {
    font-size: max(1.3vw, 100%);
  }
  .yipstats {
    border: hidden;
    text-align: center;
    /* padding: 0 5vw 0 10vw; */
    /* margin-left: -15vw; */
    /* width: 100vw; */
    /* margin-right: -10vw; */
    height: 60vh;
    /* padding-bottom: 10vh; */
    /* margin-top: -5vw; */
    background-color: none;
    width: 60vw;
    /* transform: perspective(100px) translatez(1px); */
  }
  .yipnav {
    /* background-color: #f2f2f2; */
    /* background-color: white; */
    border-color: none;
    border: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }
  /* Add more buttons as yip-button4 and so on */
  #yip-button1,
  #yip-button2,
  #yip-button3 {
    border: hidden;
    background-color: lightblue;
    border-radius: 20px;
    margin: 1em;
  }

  .text-success {
    font-weight: 800;
  }
  .text-success p {
    background-color: lightblue;
    color: #08707f;
    margin: auto;
  }
  .yipstats-heading {
    font-size: min(2rem, 8vw);
    font-weight: 800;
    padding: 1.2rem 0;
    /* background-color: white; */
    /* color: #08707f; */
    color: cyan;
    /* background-color:none; */
  }
  .yipitems {
    /* width:50vw; */
    display: grid;
    grid-template-columns: repeat(3, 18vw);
    justify-content: center;
    align-items: center;
    padding: 0;
    column-gap: 0;
    margin: 0;
  }
  .h1-seo {
    font-size: 0;
    font-size: min(4vw, 3rem);
    column-gap: 0;
    font-weight: 500;
    /* color: #04333b; */
    color: lavenderblush;
  }
  .yipcardbody {
    padding-top: 3vw;
    /* background-color: white; */
    /* border-radius: 30px; */
  }
  .yipcard {
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    /* background-color: white; */
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 30px;
  }

  .tab-space {
    background-color: none;
  }
  .count-title {
    color: #0cacc4;
    /* text-decoration: none; */
    font-size: 0;
    font-size: max(1.3vw, 1rem);
    font-weight: 700;

    /* padding-bottom: 4vw; */
  }
}
