@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 0;
}
.contact-page {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding: 2rem;
  background-image: url("https://img.freepik.com/premium-photo/website-internet-contact-us-page-concept-with-phone-chat-email-icons-symbol-telephone-mail-mobile-phone-website-page-contact-us-wide-web-banner-copy-space-blue-background_256259-2730.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 80vw;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  backdrop-filter: blur(100px);
  background-color: rgba(255, 255, 255, 0.12);
  background-color: none;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #08707f;
  position: relative;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow-x: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  overflow: hidden;
}

.input-container {
  width: 100%;
  margin-bottom: 10px;
  margin: 1rem 0;
}

.input-container i {
  position: absolute;
  margin-top: 15px;
  margin-left: 10px;
  text-align: center;
  color: #224;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 8px;
  padding-left: 2rem;
  padding-right: 2rem;
}

textarea.input {
  padding-top: 0.6rem;
  padding-bottom: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  min-height: 150px;
  border-radius: 10px;
  resize: none;
  overflow-y: auto;
}

.input-container ::placeholder {
  position: absolute;
  top: 50%;
  left: 29px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 200;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}
.input-container :focus {
  transition-duration: 0.5s;
  border-color: #0cacc4;
  border-radius: 2px;
}

.input-container.textarea ::placeholder {
  top: 0.6rem;
  transform: translateY(0);
}
.input-container ::-ms-value {
  left: 20px;
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #08707f;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  margin: 2.4rem 0 0 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title-info {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 0.7rem;
  overflow: hidden;
  color: #08707f;
}

.text {
  color: #08707f;
  margin: 10px 0 0 0;
  font-weight: 500;
}

.information {
  display: flex;
  color: #444;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  font-weight: 500;
}

.map {
  text-decoration: none;
  color: #08707f;
  font-size: 28px;
  font-weight: 900;
  padding: 0px;
  margin-top: 2px;
  margin-left: 10px;
  margin-bottom: 0;
  border-radius: 50%;
}
.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  font-size: 23px;
  margin-top: 0.6rem;
}

.social-icons a {
  width: 30px;
  height: 30px;
  border-radius: 5px;

  background: linear-gradient(45deg, #08707f, #08707f);
  color: #fff;
  text-align: center;

  margin-right: 0.5rem;
  transition: 0.3s;
  overflow: hidden;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .text {
    margin: 14px 0 0 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .contact-page {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 35px;
  }

  .input {
    padding: 0.45rem 2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}
