@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --font-color: rgb(104, 104, 104);
    --bgcolor: rgb(16, 32, 48);
    --scroll: 0;
}

body{
    font-family: 'Inter', sans-serif;
    color: var(--font-color);
    background-color: var(--bgcolor);
}